.modal-container {
  display: none; /* Inicialmente escondido */
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
  position: fixed; /* Fica fixo na tela */
  left: 0;
  top: 0;
  width: 100%; /* Largura total */
  height: 100%; /* Altura total */
  background-color: rgba(0,0,0,0.4); /* Fundo preto com transparência */
  z-index: 1;
}

.modal-container.ativo {
  display: flex; /* Exibe o modal quando a classe 'ativo' é adicionada */  
}

.modal {
  background-color: #fefefe;
  padding: 32px;
  border: 1px solid #888;
  width: 80%; /* Largura do conteúdo do modal */
  max-width: 400px; /* Largura máxima do modal */
  border-radius: 8px;
  border: solid 8px #FB5;
  box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.08);
  position: relative;  
}

.fechar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 4px solid white;
  top: -30px;
  right: -30px;
  position: absolute;
  background-color: rgb(255, 153, 0);
  box-shadow: 0 4px 4px 0 rgba(0,0,0,.3);
  font-size: 1.2rem;
  color: white;
  font-family: 'IBM Plex Mono', monospace;
  cursor: pointer;
}

.fechar:hover,
.fechar:focus {
  color: black;
  text-decoration: none;
}

.modal label {
  display: block;
  margin: 1rem 0 .5rem 0;
  font-weight: bold;
  font-family: 'IBM Plex Mono', monospace;
}

.modal input {
  box-sizing: border-box;
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.modal button[type="submit"] {
  display: block;
  background-color: rgb(255, 153, 0); /* Cor azul padrão para botões */
  color: white;
  padding: 12px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  font-family: 'IBM Plex Mono', monospace;
  font-weight: bold;
}

button[type=submit]:hover {
  opacity: 0.8;
  color: black;
}

@keyframes modal {
  from {
    opacity: 0;
    transform: translate3d(0, -30px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }  
}

.ativo .modal {
  animation: modal .3s forwards;
}